
body {
    height: 2000px;
    /* добавим body прокрутку, подсказка должна работать и с прокруткой */
}

.tooltip {
    /* немного стилизуем подсказку, можете использовать свои стили вместо этих */
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    margin-top: 5px;
    margin-bottom: 5px;
}

#text {
    color: #333;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    z-index: 1;
    font: italic 14px/1.3 sans-serif;
    padding: 5px 5px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 53px;
    left:5px;
    opacity: 1;
}

