
#ok {
    visibility: hidden;
    display: block;
    position: absolute;
    top: auto;
}

#cancel {
    visibility: hidden;
    display: block;
    position: absolute;
    top: auto;
    right: auto;
    margin-left: 35px;
}

textarea {
    resize: none;
    width: 150px;
    height: 75px;
    border: none;
    font-size: 10px;
    white-space: nowrap;
    text-align: start;
    vertical-align: middle;
    padding: 10px;
    background-color: white !important;
    color: black !important;
}
textarea:focus {
    outline: none;
}
